<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3> <%= 1 + 2 %> </h3>
    <h3> <%= "shwetadhote".toUpperCase() %> </h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deserunt ipsa est dolores iusto totam incidunt perferendis odit aliquid quia modi illo molestias, similique voluptas odio, nam facere velit vitae?</p>
    <button>click me!</button>
</body>
</html>