.red{
    color: red;
}
.blue{
    color: blue;
}
.divProp{
    border: 2px solid black;
    background-color: pink;
}
.buttonP{
    background-color: blue;
    color: white;
}
.h1Style{
    color: purple;
    text-decoration: underline;
}